<h1><center>Data Import and Initialization</center></h1>

In [1]:
# import pandas library
import pandas as pd
import numpy as np

In [2]:
other_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
df = pd.read_csv(other_path, header=None)

In [3]:
# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

The first 5 rows of the dataframe

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
print("The last 5 rows of the dataframe") 
df.tail(5)

The last 5 rows of the dataframe

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [5]:
# create headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [6]:
df.columns = headers
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [7]:
print(df.columns)

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [8]:
for i in df.columns:
    df[i]=df[i].apply(lambda x: np.nan if str(x)=="?" else x)

In [9]:
df.isna().sum(axis = 0)

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [10]:
df=df.dropna()

In [11]:
df.isna().sum(axis = 0)

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [12]:
#To get the type of columns
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [13]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,0.735849,98.264151,172.413836,65.607547,53.899371,2461.138365,119.226415,10.161132,26.522013,32.081761
std,1.193086,5.167416,11.523177,1.947883,2.268761,481.941321,30.460791,3.889475,6.097142,6.459189
min,-2.000000,86.600000,141.100000,60.300000,49.400000,1488.000000,61.000000,7.000000,15.000000,18.000000
25%,0.000000,94.500000,165.650000,64.000000,52.250000,2065.500000,97.000000,8.700000,23.000000,28.000000
50%,1.000000,96.900000,172.400000,65.400000,54.100000,2340.000000,110.000000,9.000000,26.000000,32.000000
75%,2.000000,100.800000,177.800000,66.500000,55.500000,2809.500000,135.000000,9.400000,31.000000,37.000000
max,3.000000,115.600000,202.600000,71.700000,59.800000,4066.000000,258.000000,23.000000,49.000000,54.000000

In [14]:
df.describe(include = "all")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,159.000000,159,159,159,159,159,159,159,159,159.000000,...,159.000000,159,159,159,159.000000,159,159,159.000000,159.000000,159
unique,NaN,51,18,2,2,2,5,3,1,NaN,...,NaN,6,33,31,NaN,48,20,NaN,NaN,145
top,NaN,161,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.15,NaN,68,4800,NaN,NaN,8495
freq,NaN,11,31,144,132,95,79,105,159,NaN,...,NaN,64,20,14,NaN,18,35,NaN,NaN,2
mean,0.735849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.264151,...,119.226415,NaN,NaN,NaN,10.161132,NaN,NaN,26.522013,32.081761,NaN
std,1.193086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.167416,...,30.460791,NaN,NaN,NaN,3.889475,NaN,NaN,6.097142,6.459189,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,15.000000,18.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.700000,NaN,NaN,23.000000,28.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.900000,...,110.000000,NaN,NaN,NaN,9.000000,NaN,NaN,26.000000,32.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.800000,...,135.000000,NaN,NaN,NaN,9.400000,NaN,NaN,31.000000,37.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.600000,...,258.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [15]:
df[['length', 'compression-ratio']].describe()

           length  compression-ratio
count  159.000000         159.000000
mean   172.413836          10.161132
std     11.523177           3.889475
min    141.100000           7.000000
25%    165.650000           8.700000
50%    172.400000           9.000000
75%    177.800000           9.400000
max    202.600000          23.000000

In [16]:
df.info

<bound method DataFrame.info of      symboling normalized-losses        make fuel-type aspiration  \
3            2               164        audi       gas        std
4            2               164        audi       gas        std
6            1               158        audi       gas        std
8            1               158        audi       gas      turbo
10           2               192         bmw       gas        std
11           0               192         bmw       gas        std
12           0               188         bmw       gas        std
13           0               188         bmw       gas        std
18           2               121   chevrolet       gas        std
19           1                98   chevrolet       gas        std
20           0                81   chevrolet       gas        std
21           1               118       dodge       gas        std
22           1               118       dodge       gas        std
23           1               118       dodge       gas      turbo
24           1               148       dodge       gas        std
25           1               148       dodge       gas        std
26           1               148       dodge       gas        std
28          -1               110       dodge       gas        std
29           3               145       dodge       gas      turbo
30           2               137       honda       gas        std
31           2               137       honda       gas        std
32           1               101       honda       gas        std
33           1               101       honda       gas        std
34           1               101       honda       gas        std
35           0               110       honda       gas        std
36           0                78       honda       gas        std
37           0               106       honda       gas        std
38           0               106       honda       gas        std
39           0                85       honda       gas        std
40           0                85       honda       gas        std
..         ...               ...         ...       ...        ...
170          2               134      toyota       gas        std
171          2               134      toyota       gas        std
172          2               134      toyota       gas        std
173         -1                65      toyota       gas        std
174         -1                65      toyota    diesel      turbo
175         -1                65      toyota       gas        std
176         -1                65      toyota       gas        std
177         -1                65      toyota       gas        std
178          3               197      toyota       gas        std
179          3               197      toyota       gas        std
180         -1                90      toyota       gas        std
182          2               122  volkswagen    diesel        std
183          2               122  volkswagen       gas        std
184          2                94  volkswagen    diesel        std
185          2                94  volkswagen       gas        std
186          2                94  volkswagen       gas        std
187          2                94  volkswagen    diesel      turbo
188          2                94  volkswagen       gas        std
190          3               256  volkswagen       gas        std
194         -2               103       volvo       gas        std
195         -1                74       volvo       gas        std
196         -2               103       volvo       gas        std
197         -1                74       volvo       gas        std
198         -2               103       volvo       gas      turbo
199         -1                74       volvo       gas      turbo
200         -1                95       volvo       gas        std
201         -1                95       volvo       gas      turbo
202         -1                95       volvo       gas        std
203         -1                95       volvo    diesel      turbo
204         -1                95       volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...    \
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
6           four        sedan          fwd           front       105.8  ...
8           four        sedan          fwd           front       105.8  ...
10           two        sedan          rwd           front       101.2  ...
11          four        sedan          rwd           front       101.2  ...
12           two        sedan          rwd           front       101.2  ...
13          four        sedan          rwd           front       101.2  ...
18           two    hatchback          fwd           front        88.4  ...
19           two    hatchback          fwd           front        94.5  ...
20          four        sedan          fwd           front        94.5  ...
21           two    hatchback          fwd           front        93.7  ...
22           two    hatchback          fwd           front        93.7  ...
23           two    hatchback          fwd           front        93.7  ...
24          four    hatchback          fwd           front        93.7  ...
25          four        sedan          fwd           front        93.7  ...
26          four        sedan          fwd           front        93.7  ...
28          four        wagon          fwd           front       103.3  ...
29           two    hatchback          fwd           front        95.9  ...
30           two    hatchback          fwd           front        86.6  ...
31           two    hatchback          fwd           front        86.6  ...
32           two    hatchback          fwd           front        93.7  ...
33           two    hatchback          fwd           front        93.7  ...
34           two    hatchback          fwd           front        93.7  ...
35          four        sedan          fwd           front        96.5  ...
36          four        wagon          fwd           front        96.5  ...
37           two    hatchback          fwd           front        96.5  ...
38           two    hatchback          fwd           front        96.5  ...
39          four        sedan          fwd           front        96.5  ...
40          four        sedan          fwd           front        96.5  ...
..           ...          ...          ...             ...         ...  ...
170          two      hardtop          rwd           front        98.4  ...
171          two    hatchback          rwd           front        98.4  ...
172          two  convertible          rwd           front        98.4  ...
173         four        sedan          fwd           front       102.4  ...
174         four        sedan          fwd           front       102.4  ...
175         four    hatchback          fwd           front       102.4  ...
176         four        sedan          fwd           front       102.4  ...
177         four    hatchback          fwd           front       102.4  ...
178          two    hatchback          rwd           front       102.9  ...
179          two    hatchback          rwd           front       102.9  ...
180         four        sedan          rwd           front       104.5  ...
182          two        sedan          fwd           front        97.3  ...
183          two        sedan          fwd           front        97.3  ...
184         four        sedan          fwd           front        97.3  ...
185         four        sedan          fwd           front        97.3  ...
186         four        sedan          fwd           front        97.3  ...
187         four        sedan          fwd           front        97.3  ...
188         four        sedan          fwd           front        97.3  ...
190          two    hatchback          fwd           front        94.5  ...
194         four        sedan          rwd           front       104.3  ...
195         four        wagon          rwd           front       104.3  ...
196         four        sedan          rwd           front       104.3  ...
197         four        wagon          rwd           front       104.3  ...
198         four        sedan          rwd           front       104.3  ...
199         four        wagon          rwd           front       104.3  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
3            109         mpfi  3.19    3.40             10.00        102
4            136         mpfi  3.19    3.40              8.00        115
6            136         mpfi  3.19    3.40              8.50        110
8            131         mpfi  3.13    3.40              8.30        140
10           108         mpfi  3.50    2.80              8.80        101
11           108         mpfi  3.50    2.80              8.80        101
12           164         mpfi  3.31    3.19              9.00        121
13           164         mpfi  3.31    3.19              9.00        121
18            61         2bbl  2.91    3.03              9.50         48
19            90         2bbl  3.03    3.11              9.60         70
20            90         2bbl  3.03    3.11              9.60         70
21            90         2bbl  2.97    3.23              9.41         68
22            90         2bbl  2.97    3.23              9.40         68
23            98         mpfi  3.03    3.39              7.60        102
24            90         2bbl  2.97    3.23              9.40         68
25            90         2bbl  2.97    3.23              9.40         68
26            90         2bbl  2.97    3.23              9.40         68
28           122         2bbl  3.34    3.46              8.50         88
29           156          mfi  3.60    3.90              7.00        145
30            92         1bbl  2.91    3.41              9.60         58
31            92         1bbl  2.91    3.41              9.20         76
32            79         1bbl  2.91    3.07             10.10         60
33            92         1bbl  2.91    3.41              9.20         76
34            92         1bbl  2.91    3.41              9.20         76
35            92         1bbl  2.91    3.41              9.20         76
36            92         1bbl  2.92    3.41              9.20         76
37           110         1bbl  3.15    3.58              9.00         86
38           110         1bbl  3.15    3.58              9.00         86
39           110         1bbl  3.15    3.58              9.00         86
40           110         1bbl  3.15    3.58              9.00         86
..           ...          ...   ...     ...               ...        ...
170          146         mpfi  3.62    3.50              9.30        116
171          146         mpfi  3.62    3.50              9.30        116
172          146         mpfi  3.62    3.50              9.30        116
173          122         mpfi  3.31    3.54              8.70         92
174          110          idi  3.27    3.35             22.50         73
175          122         mpfi  3.31    3.54              8.70         92
176          122         mpfi  3.31    3.54              8.70         92
177          122         mpfi  3.31    3.54              8.70         92
178          171         mpfi  3.27    3.35              9.30        161
179          171         mpfi  3.27    3.35              9.30        161
180          171         mpfi  3.27    3.35              9.20        156
182           97          idi  3.01    3.40             23.00         52
183          109         mpfi  3.19    3.40              9.00         85
184           97          idi  3.01    3.40             23.00         52
185          109         mpfi  3.19    3.40              9.00         85
186          109         mpfi  3.19    3.40              9.00         85
187           97          idi  3.01    3.40             23.00         68
188          109         mpfi  3.19    3.40             10.00        100
190          109         mpfi  3.19    3.40              8.50         90
194          141         mpfi  3.78    3.15              9.50        114
195          141         mpfi  3.78    3.15              9.50        114
196          141         mpfi  3.78    3.15              9.50        114
197          141         mpfi  3.78    3.15              9.50        114
198          130         mpfi  3.62    3.15              7.50        162
199          130         mpfi  3.62    3.15              7.50        162
200          141         mpfi  3.78    3.15              9.50        114
201          141         mpfi  3.78    3.15              8.70        160
202          173         mpfi  3.58    2.87              8.80        134
203          145          idi  3.01    3.40             23.00        106
204          141         mpfi  3.78    3.15              9.50        114

     peak-rpm city-mpg highway-mpg  price
3        5500       24          30  13950
4        5500       18          22  17450
6        5500       19          25  17710
8        5500       17          20  23875
10       5800       23          29  16430
11       5800       23          29  16925
12       4250       21          28  20970
13       4250       21          28  21105
18       5100       47          53   5151
19       5400       38          43   6295
20       5400       38          43   6575
21       5500       37          41   5572
22       5500       31          38   6377
23       5500       24          30   7957
24       5500       31          38   6229
25       5500       31          38   6692
26       5500       31          38   7609
28       5000       24          30   8921
29       5000       19          24  12964
30       4800       49          54   6479
31       6000       31          38   6855
32       5500       38          42   5399
33       6000       30          34   6529
34       6000       30          34   7129
35       6000       30          34   7295
36       6000       30          34   7295
37       5800       27          33   7895
38       5800       27          33   9095
39       5800       27          33   8845
40       5800       27          33  10295
..        ...      ...         ...    ...
170      4800       24          30  11199
171      4800       24          30  11549
172      4800       24          30  17669
173      4200       29          34   8948
174      4500       30          33  10698
175      4200       27          32   9988
176      4200       27          32  10898
177      4200       27          32  11248
178      5200       20          24  16558
179      5200       19          24  15998
180      5200       20          24  15690
182      4800       37          46   7775
183      5250       27          34   7975
184      4800       37          46   7995
185      5250       27          34   8195
186      5250       27          34   8495
187      4500       37          42   9495
188      5500       26          32   9995
190      5500       24          29   9980
194      5400       23          28  12940
195      5400       23          28  13415
196      5400       24          28  15985
197      5400       24          28  16515
198      5100       17          22  18420
199      5100       17          22  18950
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[159 rows x 26 columns]>

In [17]:
#Save Data as csv
df.to_csv("automobile.csv", index=False)

<h4><center>Read/Save Other Data Formats</center></h4>



| Data Formate  | Read           | Save             |
| ------------- |:--------------:| ----------------:|
| csv           | `pd.read_csv()`  |`df.to_csv()`     |
| json          | `pd.read_json()` |`df.to_json()`    |
| excel         | `pd.read_excel()`|`df.to_excel()`   |
| hdf           | `pd.read_hdf()`  |`df.to_hdf()`     |
| sql           | `pd.read_sql()`  |`df.to_sql()`     |
| ...           |   ...          |       ...        |